/*GENERAL*/

body{
    margin: 0;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    background-image: url(Assets/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 42.5%, -200px;
    background-attachment: fixed;
}

/*HEADER*/

@media (max-width:550px){
    .head{
        position: fixed;
        top: 0;
    }
}

.head{
    width: 100%;
    height: 95px;
    background-color: #3f486c;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    z-index: 2;
}

.mainHeadDiv{
    background-color: none;
    width: 15%;
    height: 95px;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

.nameDiv{
    font-size: larger;
    width: 70%;
    display: flex;
    justify-content: center;
}

.name{
    text-align: center;
    position: relative;
    top: -15px;
}

.accessability{
    background-color: none;
    width: 15%;
    height: 95px;
    margin: 0;
    display: flex;
    justify-content: right;
}

.listIcon{
    width: 25px;
    position: relative;
    top: 7px;
    left: 2px;
}

@media (max-width:735px){
    .nameDiv{
        display: none;
    }

    .mainHeadDiv{
        width: 25%;
    }

    .accessability{
        width: 75%;
        display: flex;
        justify-content: right;
    }

    .name{
        display: none;
    }
}

ul{
    list-style: none;
    margin: 10px 0 0 0;
    text-align: right;
}

/*NAVIGATION*/

@media (max-width:550px){
    .sideNav{
        width: 100%;
        height: 420px;
        background-color: #3f486c;
        position: fixed;
        top: -330px;
        border-bottom: 5px solid white;
    }

    .sideNavBurg{
        width: 100%;
        height: 100%;
        overflow-y: hidden;
    }

    .sideNavBurg::-webkit-scrollbar{
        display: block;
        height: 5px;
    }
    
    .sideNavBurg::-webkit-scrollbar-thumb{
        background-color: #8797d6;
    }
    
    .sideNavBurg::-webkit-scrollbar-thumb:hover{
        background-color: #bfcaf8;
    }

    .sideNavButton{
        width: 90%;
        display: block;
        margin: 5px auto;
        border: 2px solid white;
        border-radius: 25px;
        text-align: center;
        text-decoration: none;
        color: white;
    }

    .sideNavButton h4{
        margin: 5px;
    }

    .navImage{
        width: 125px;
        display: block;
        margin: auto;
    }

    .openButton{
        background-color: #3f486c;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 10px;
        border: 5px solid white;
        border-top: none;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}

@media (min-width:550px){
    .sideNav{
        width: 100%;
        height: 50px;
        background-color: #3f486c;
        margin-top: 5px;
        position: sticky;
        top: 0;
    }

    .sideNavBurg{
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        height: 50px;
        width: 100%;
    }
    
    .sideNavBurg::-webkit-scrollbar{
        display: block;
        height: 5px;
    }
    
    .sideNavBurg::-webkit-scrollbar-thumb{
        background-color: #8797d6;
    }
    
    .sideNavBurg::-webkit-scrollbar-thumb:hover{
        background-color: #bfcaf8;
    }
    
    .sideNavButton{
        width: 210px;
        height: 30px;
        border: 2px solid white;
        display: block;
        margin: 7.5px;
        border-radius: 25px;
        text-align: center;
        text-decoration: none;
        color: white;
    }
    
    .sideNavButton h4{
        position: relative;
        top: -17px;
    }

    .navImage{
        height: 50px;
        margin: 2.5px 5px 2.5px 10px;
    }
}

/*INDEX*/

.carousel {
    position: relative;
    width: 270px;
    height: 160px;
    overflow: hidden;
    background-color: #cdcdcd;
}

.carousel-item .slide-image {
    width: 270px;
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 270px;
    border: none;
    top: 0;
    left: 100%;
}

.carousel-item.active {
    left: 0;
    transition: all 0.3s ease-out;
}

.carousel-item div {
    height: 100%;
}