/*GENERAL*/



body{
    margin: 0;
    padding-bottom: 0;
    font-family: Verdana, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    background-image: url(Assets/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 42.5%, -200px;
    background-attachment: fixed;
    color: white;
}
body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-track{
    background-color: #3f486c;
    border-left: 2px solid #bfcaf8;
}
body::-webkit-scrollbar-thumb{
    background-color: #8797d6;
    border-left: 2px solid #bfcaf8;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #bfcaf8;
    border-left: 2px solid #fff;
}



/*HEADER*/



@media (max-width:550px){
    .head{
        position: sticky;
        top: 0;
    }
}



.head{
    width: 100%;
    height: 95px;
    background-color: #3f486c;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    z-index: 2;
}



.mainHeadDiv{
    background-color: none;
    width: 15%;
    height: 95px;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}



.nameDiv{
    font-size: larger;
    width: 55%;
    display: flex;
    justify-content: center;
}



.name{
    text-align: center;
    position: relative;
    top: -15px;
}



.accessability{
    background-color: none;
    width: 30%;
    height: 95px;
    margin: 0;
    display: flex;
    justify-content: right;
}



.listIcon{
    width: 25px;
    position: relative;
    top: 7px;
    left: 2px;
}



.logo{
    width: 94px;
}



@media (max-width:974px){
    .nameDiv{
        display: none;
    }



    .mainHeadDiv{
        width: 53%;
    }



    .accessability{
        width: 47%;
        right: 0;
        position: fixed;
    }



    .name{
        display: none;
    }
}
@media (max-width:500px){
    .accessability{
        width: 75%;
    }

    .mainHeadDiv{
        width: 25%;
    }
}



ul{
    list-style: none;
    margin: 10px 0 0 -10px;
    text-align: right;
}



a{
    text-decoration: none;
}



/*NAVIGATION*/



.sideNav{
    z-index: 99;
}



@media (max-width:550px){
    .sideNav{
        width: 100%;
        height: 420px;
        background-color: #3f486c;
        position: fixed;
        top: 95px;
        border-bottom: 5px solid white;
        z-index: 99;
    }
    .sideNavBurg{
        width: 100%;
        height: 100%;
        overflow-y: hidden;
    }
    .sideNavBurg::-webkit-scrollbar{
        display: block;
        height: 5px;
    }
    .sideNavBurg::-webkit-scrollbar-thumb{
        background-color: #8797d6;
    }
    .sideNavBurg::-webkit-scrollbar-thumb:hover{
        background-color: #bfcaf8;
    }




    .sideNavButton{
        width: 240px;
        display: block;
        margin: 5px auto;
        border: 2px solid white;
        border-radius: 25px;
        text-align: center;
        text-decoration: none;
        color: white;
    }
    .sideNavButton:hover{
        background-color: #8797d6;
    }
    .sideNavButton h4{
        margin: 5px;
    }



    .navImage{
        width: 125px;
        display: block;
        margin: auto;
    }



    .openButton{
        background-color: #3f486c;
        width: 50px;
        height: 40px;
        position: fixed;
        right: 10px;
        border: 5px solid white;
        border-top: none;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        z-index: 100;
        text-align: center;
    }
    .openButton img{
        z-index: 100;
        width: 30px;
    }



    .navButton{
        border: 2px solid white;
        border-radius: 10px;
        width: 80%;
        height: 37px;
        display: block;
        margin: 10px auto;
    }
    .navButton a{
        font-size: x-large;
    }
}



@media (min-width:551px){
    .sideNav{
        width: 100%;
        height: 50px;
        background-color: #3f486c;
        margin-top: 5px;
        position: sticky;
        top: 0;
    }
    .sideNavBurg{
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        height: 50px;
        width: 100%;
    }
    .sideNavBurg::-webkit-scrollbar{
        display: block;
        height: 5px;
    }
    .sideNavBurg::-webkit-scrollbar-thumb{
        background-color: #8797d6;
    }
    .sideNavBurg::-webkit-scrollbar-thumb:hover{
        background-color: #bfcaf8;
    }
    


    .sideNavButton{
        width: 240px;
        height: 30px;
        border: 2px solid white;
        display: block;
        margin: 7.5px;
        border-radius: 25px;
        text-align: center;
        text-decoration: none;
        color: white;
    }
    .sideNavButton:hover{
        background-color: #8797d6;
    }
    .sideNavButton h4{
        position: relative;
        top: -17px;
    }



    .openButton{
        background-color: #3f486c;
        width: 50px;
        height: 40px;
        position: absolute;
        right: 10px;
        border: 5px solid white;
        border-top: none;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        z-index: 100;
        text-align: center;
        display: none;
    }
    .openButton img{
        z-index: 100;
        width: 30px;
        display: none;
    }



    .navImage{
        height: 50px;
        margin: 2.5px 5px 2.5px 10px;
    }
}



/*INDEX*/



@media (min-width: 735px){
    .carousel {
        position: relative;
        width: 540px;
        height: 224px;
        overflow: hidden;
        border-radius: 25px;
        border: 5px solid white;
    }
    .carousel-item .slide-image {
        width: 540px;
        height: 250px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .carousel-item {
        position: absolute;
        width: 100%;
        height: 224px;
        border: none;
        left: 100%;
        position: absolute;
        top: 0;
    }
    .carousel-item.active {
        left: 0;
        transition: all 0.3s ease-out;
    }
    .carousel-item div {
        height: 100%;
    }



    .openDaysImage{
        display: block;
        width: 540px;
        height: 224px;
        overflow: hidden;
        border-radius: 25px;
    }
}



.contentDiv{
    background-color: rgba(0,0,0,0.25);
    width: 75%;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 25px;
}



.cardPages{
    display: block;
    margin: 0 auto;
}



footer{
    background-color: #3f486c;
    width: 100%;
    text-align: center;
    margin: 30px 0 -16px 0;
    padding-bottom: 1px;
}
.footerImageFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}
.footerImageFlex img{
    width: 255px;
    display: block;
    margin: auto;
}



@keyframes scaleTurn{
    from{
        transform: scale(1) rotate(0deg);
    }
    to{
        transform: scale(1.15) rotate(10deg);
    }
}
@keyframes scaleTurnBack{
    from{
        transform: scale(1.15) rotate(10deg);
    }
    to{
        transform: scale(1) rotate(0deg);
    }
}



.ourList{
    display: flex;
    flex-wrap: wrap;
}
.ourList div{
    display: block;
    width: 313px;
    height: 197px;
    margin: 10px auto;
    border-radius: 25px;
    animation-name: scaleTurnBack;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
@media (max-width:435px){
    .ourList div{
        width: 227.5px;
        height: 140px;
    }
}
.ourList div:hover{
    animation-name: scaleTurn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    transform: scale(1.15) rotate(10deg);
}
.ourList .schoolHistory{
    background-image: url(Assets/tortenet.webp);
    background-size: contain;
}
.ourList .ourRaces{
    background-image: url(Assets/verseny.webp);
    background-size: contain;
}
.ourList .inTaking{
    background-image: url(Assets/beiskolazas.webp);
    background-size: contain;
}



.listText{
    color: white;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    border-radius: 25px;
}



/*ELÉRHETŐSÉGEK*/



@keyframes darkenAnim{
    0%{
        filter: none;
        transform: scale(1.1);
    }
    100%{
        filter: brightness(0);
        transform: scale(1);
    }
}
@keyframes normalAnim{
    0%{
        filter: brightness(0);
        transform: scale(1);
    }
    100%{
        filter: none;
        transform: scale(1.1);
    }
}



@media (min-width:751px){
    .subContentDiv{
        display: flex;
    }



    .map{ 
        max-width: 500px;
    }
}
@media (max-width:750px){
    .map{
        max-width: none;
    }
}



.contents{
    width: 100%;
}



.map{
    border: 2px solid white;
    width: 100%;
    height: 500px;
    max-height: 400px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 25px;
    text-align: center;
}
.map h1{
    color: black;
    display: block;
    margin: 175px auto;
}



.platformList{
    display: flex;
}
.platformList a{
    text-decoration: none;
    margin: 2.5px;
}
.platformList a img{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    filter: brightness(0);
    transform: scale(1);
    animation-name: darkenAnim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
.platformList a img:hover{
    filter: none;
    transform: scale(1.1);
    animation-name: normalAnim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
.platformList a h2{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 0;
    filter: brightness(0);
    transform: scale(1);
    animation-name: darkenAnim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
.platformList a h2:hover{
    filter: none;
    transform: scale(1.1);
    animation-name: normalAnim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}



.inset{
    text-indent: 50px;
}



/*GALLERY*/




.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}
.gallery-item {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    z-index: 1; /* Default z-index */
}
.gallery-item .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}
.gallery-item:hover .overlay {
    opacity: 1;
}



.popup {
    display: none; /* Ensure the popup is hidden by default */
    position: fixed;
    z-index: 100; /* Popup z-index */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.popup-content {
    max-width: 70%;
    max-height: 70%;
    min-height: 40%;
}
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 1);
}



/*CO-WORKERS*/



.commandment{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}



.listTitle{
    margin-bottom: -5px;
}



.personBackground{
    background-color: rgba(0,0,0,0.5);
    width: 210px;
    border-radius: 25px;
    padding: 10px;
    margin: 10px 10px;
}
.person{
    width: 160px;
    padding: 25px;
    background-image: url(Assets/Logo.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
.personBackground p{
    margin: 10px 0;
    text-align: center;
}
.personImage{
    width: 160px;
    border-radius: 150px;
}
.personName{
    text-align: center;
    margin: 5px 0;
}



.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}



input[type=text], input[type=email], input[type=tel], textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=checkbox] {
  margin: 8px 0;
}



label {
  margin-bottom: 8px;
  display: block;
}



button[type=submit], button[type=reset] {
  width: 48%;
  padding: 12px;
  margin: 8px 1%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[type=submit] {
  background-color: #4CAF50;
  color: white;
}
button[type=reset] {
  background-color: #f44336;
  color: white;
}



@media screen and (max-width: 600px) {
  button[type=submit], button[type=reset] {
    width: 100%;
    margin: 8px 0;
  }
}






/*OUR PRIDES*/



.ourpride {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ourpride-item {
  flex-basis: calc(33% - 20px);
  margin-bottom: 20px;
}
.ourpride-item img {
  width: 100%;
  height: auto;
}



@media screen and (max-width: 600px) {
  .ourpride-item {
    flex-basis: calc(50% - 20px);
  }
}
@media screen and (max-width: 400px) {
  .ourpride-item {
    flex-basis: calc(100% - 20px);
  }
}



  /*DOCUMENTS*/



  .docContainer {
    width: 60%;
    margin: auto;
}
.docBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.docBlock .text {
    flex-grow: 1;
}
.docBlock .button {
    background-color: #4c65af;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.docBlock .button:hover{
    background-color: #243874;
}



.docTable {
    width: 100%;
    border-collapse: collapse;
}
.docTh, .docTd {
    border: 1px solid #aeaeae;
    padding: 8px;
}
.docTh {
    background-color: #4c65af;
    color: white;
}
.docTr:nth-child(even) {
    background-color: #c1c1c1;
}
.docTr:hover {
    background-color: #aeaeae;
}
.docPagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.docPagination button {
    background-color: #4c65af;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}
.docPagination button.active {
    background-color: #333;
  
  
  
/*COMPETITIONS*/



.EngRace{
    background-image: url(https://szbi-pg.hu/images/panel/angol3bk.jpg);
}



.GermRace{
    background-image: url(https://szbi-pg.hu/images/panel/n%C3%A9metk.jpg);
}



.ITRace{
    background-image: url(https://szbi-pg.hu/images/panel/infok.jpg);
}



.BrainRace{
    background-image: url(https://szbi-pg.hu/images/panel/agycsavar%C3%B32k.jpg);


/*CHILD CARE&PROTECTION*/



.chprot a {
  text-decoration: none;
  color: #fff;
  right: 0;
}
.chprot ul {
  list-style-type:disc;
}
.chprot ul li ul {
  list-style-type:circle;
}



.childProtection ul{
    text-align: left;
}



.childProtectionButtons{
    display: flex;
}



.checkbox-group{
    display: flex;
}
.checkbox-group label{
    position: relative;
    top: 4px;
    left: 5px;
}



/*DATA MANAGEMENT INSTRUCTIONS*/



.dataTitle{
    border: 2px solid white;
    width: fit-content;
    display: block;
    margin: auto;
    border-bottom: none;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.dataTitle h1{
    font-size: 50px;
    margin: 0;
}
.dataTitle h4{
    margin: 0;
}



.dataManagementDiv{
    border: 2px solid white;
    padding: 10px;
}
.dataManagementDiv h2{
    margin: 0;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    width: fit-content;
    padding: 0 15px 5px 15px;
    border-bottom-right-radius: 25px;
}
.dataManagementDiv a{
    color: white;
    text-decoration: underline;
}
.dataManagementDiv a:hover{
    color: lightgray;
}
.dataManagementDiv table{
    border-collapse: collapse;
    margin-top: 25px;
}
.dataManagementDiv td{
    border: 2px solid white;
}



.dataManagerInfo{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: none;
}



.dataManagementStarter{
    border-bottom: none;
}



.dataManagementCommandments{
    border-bottom: none;
}
.dataManagementCommandments ul{
    text-align: left;
}



.dataManagementGeneral{
    border-bottom: none;
}



.dataManagementLaw{
    border-bottom: none;
}
.dataManagementLaw ul{
    text-align: left;
}



.dataManagementLawdoctoral{
    border-bottom: none;
}
.dataManagementLawdoctoral ul{
    text-align: left;
}



.dataManagementCookies{
    border-bottom: none;
}
.dataManagementCookies ul{
    text-align: left;
}



.dataManagementGoogle{
    border-bottom: none;
}



.dataManagementWebpage{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.dataManagementWebpage ul{
    text-align: left;
}



.dataManagementSubdivName{
    margin-top: 40px;
}